body {
    margin: 0;
    padding: 0;
  }


h1 {

    background-color:black;

    color:#efeee7;

    text-align:center;

    font:"georgia";

}

h2{

    font-size:24px;
    
}
p {

   
     margin-top: 100px;
     margin-bottom: 100px;
     margin-right: 150px;
    margin-left: 80px;


}

img {

    float: left;

    width:200px;

  }